@{{app_name}} host {{ app_subdomain }}.{{ domain_name }}
handle @{{app_name}} {
	reverse_proxy {{ app_endpoint }}
	encode zstd gzip

	# handle /api/auth/signup* {
	#	@blocked not remote_ip {{ admin_whitelisted_ip}}
	#	respond @blocked "<h1>Access Denied</h1>" 403
	# }

}

import subdomain-log {{ app_subdomain }}.{{ domain_name }}