@n8n host {{ app_subdomain }}.{{ domain_name }}
handle @n8n {
	reverse_proxy {{ app_endpoint }}
	encode zstd gzip
	handle /setup* {
		@blocked not remote_ip {{ admin_whitelisted_ip}}
		respond @blocked "<h1>Access Denied</h1>" 403
	}
}


import subdomain-log {{ app_subdomain }}.{{ domain_name }}