x-common: &common
  security_opt:
    - no-new-privileges:true

networks:
  gitea_net:
    name: gitea_net


services:
  gitea:
    <<: *common
    restart: unless-stopped
    image: gitea/gitea:latest-rootless
    container_name: gitea
    environment:
      - GITEA__database__DB_TYPE=postgres
      - GITEA__database__HOST=gitea-db:5432
      - GITEA__database__NAME=${POSTGRES_DB}
      - GITEA__database__USER=${POSTGRES_USER}
      - GITEA__database__PASSWD=${POSTGRES_PASSWORD}
      - DISABLE_REGISTRATION=true # make sure to create a user at start or use `gitea admin create-user`
    networks:
      - gitea_net
      - main_net
    depends_on:
      - gitea-db
    volumes:
      - ./data/gitea:/var/lib/gitea
      - ./config/gitea:/etc/gitea
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
    ports:
      # - "3000:3000"
      - "2222:2222"

  gitea-db:
    <<: *common
    restart: unless-stopped
    container_name: gitea-db
    image: bitnami/postgresql:17
    volumes:
      - ./data/postgresql:/bitnami/postgresql
    environment:
      - TZ=${TZ}
      - POSTGRESQL_DATABASE=${POSTGRES_DB}
      - POSTGRESQL_USERNAME=${POSTGRES_USER}
      - POSTGRESQL_PASSWORD=${POSTGRES_PASSWORD}
    networks:
      - gitea_net
    healthcheck:
      test: [ 'CMD-SHELL', "sh -c 'pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}'" ]
      interval: 10s
      timeout: 3s
      retries: 3


